[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=journeyplanner
Exec=/opt/journeyplanner/bin/journeyplanner
Icon=journeyplanner
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
