Source: gotransport
Section: user/navigation
Priority: optional
Maintainer: Mark Rankilor <mark.rankilor@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: http://github.com/reodge/journeyplanner

Package: gotransport
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: London Journey Planner
 A simple journey planner for London.
XB-Maemo-Display-Name: Go Transport
